.drawCanvas {
    display: inline-block;
    float: right;
}

.drawCanvas img {
    margin-left: calc(0.5 * (1vw + 1vh - 1vmin)) !important;
}

.lineDropDown {
    display: inline-block;
    position: relative;
    margin-left: calc(0.5 * (1vw + 1vh - 1vmin)) !important;
}

.lineDropDown img {
    margin-bottom: calc(0.1 * (1vw + 1vh - 1vmin));
}

.lineDropDownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: calc(0.55  * (1vw + 1vh - 1vmin));
    z-index: 1;
}

.lineDropDownContent img {
    height: calc(1  * (1vw + 1vh - 1vmin)) !important;
    width: calc(8 * (1vw + 1vh - 1vmin)) !important;
    text-align: center;
}

.lineDropDown:hover .lineDropDownContent {
    display: block;
}

.lineDropDown:active .lineDropDownContent {
    display: block;
}

.colourButton {
    -webkit-appearance: none;
    height: calc(1.8 * (1vw + 1vh - 1vmin)) !important;
    width: calc(1.8 * (1vw + 1vh - 1vmin)) !important;
    min-height: 16px !important;
    min-width: 16px !important;
    margin-top: calc(0.5 * (1vw + 1vh - 1vmin));
    vertical-align: middle;
    border-radius: 50%;
    outline: none;
    padding: 0 !important;
    border-width: calc(0.1 * (1vw + 1vh - 1vmin));
}

.colourPicker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(31 * (1vw + 1vh - 1vmin));
    background-color: grey;
    padding: calc(1.5 * (1vw + 1vh - 1vmin));
}

.colourPicker button {
    position: absolute;
    background: none;
    border: none;
    font-size: calc(2.0 * (1vw + 1vh - 1vmin));
    top: 0;
    right: 0;
    margin-right: calc(0.5 * (1vw + 1vh - 1vmin));
    margin-top: calc(0.15 * (1vw + 1vh - 1vmin));
    outline: none;
}

.colourDiv {
    display: inline-block;
    border-radius: 50%;
    margin: calc(0.5 * (1vw + 1vh - 1vmin));
    width: calc(6 * (1vw + 1vh - 1vmin));
    height: calc(6 * (1vw + 1vh - 1vmin));
    cursor: pointer;
    border: solid 0.2em grey;
}

.colourDiv:hover {
    border: none;
}

.numberOfPiecesToggle {
    position: relative;
    height: calc(2.5 * (1vw + 1vh - 1vmin));
    width: calc(8 * (1vw + 1vh - 1vmin));
    min-height: 25px;
    min-width: 80px;
    text-align: center;
}

.numberOfPieces {
    padding: calc(0.75 * (1vw + 1vh - 1vmin)) 0 calc(0.75 * (1vw + 1vh - 1vmin)) 0;
    width: calc(10 * (1vw + 1vh - 1vmin));
    min-width: 100px;
    position: absolute;
    background-color: rgba(0,0,0, 0.75);
    transform: translate(-50%, calc(0.45 * (1vw + 1vh - 1vmin)));
    left: 50%;
    text-align: center;
    z-index: 1;
}

.numberOfPieces input {
    margin-right: calc(0.5 * (1vw + 1vh - 1vmin));
}

.numberOfPieces button {
    padding: 0 !important;
    margin: 0 !important;
    display: inline-block !important;
    height: calc(2.5 * (1vw + 1vh - 1vmin)) !important;
    width: calc(1.5 * (1vw + 1vh - 1vmin)) !important;
    min-height: 25px !important;
    min-width: 10px !important;
    vertical-align: top;
    font-size: calc(7px + 0.5 * (1vw + 1vh - 1vmin)) !important;
    float: none !important;
}

.numberOfPieces label {
    background-color: white;
    display: inline-block;
    margin-bottom: calc(0.5 * (1vw + 1vh - 1vmin));
    height: calc(2.5 * (1vw + 1vh - 1vmin));
    width: calc(2.5 * (1vw + 1vh - 1vmin));
    min-height: 25px;
    min-width: 25px;
    vertical-align: top;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
}

.numberOfPieces p {
    margin: 0 !important;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: calc(10px + 1.3 * (1vw + 1vh - 1vmin)) !important;
    font-weight: normal;
}

.optionsImg {
    position: relative;
    height: calc(2.5 * (1vw + 1vh - 1vmin));
    width: calc(2.5 * (1vw + 1vh - 1vmin));
    min-height: 25px;
    min-width: 25px;
    transform: translate(0, -50%);
    top: 50%;
    cursor: pointer;
}

.powerUpsImg {
    margin-bottom: calc(0.5 * (1vw + 1vh - 1vmin));
    height: calc(2.5 * (1vw + 1vh - 1vmin));
    width: calc(3.25 * (1vw + 1vh - 1vmin));
    min-height: 25px;
    min-width: 32.5px;
    vertical-align: top;
}

.pathImg {
    height: calc(2.5 * (1vw + 1vh - 1vmin));
    width: calc(6.75 * (1vw + 1vh - 1vmin));
    min-height: 25px;
    min-width: 68px;
}

.numberOfPiecesInactive {
    background: #cccccc !important;
}
