.mainDiv {
    padding: 0 0.3em 0.2em 0.3em;
    color: #FAD000;
    position: absolute;
    font-size: calc(1.5 * (1vw + 1vh - 1vmin));
    margin-top : 5em;
    margin-left: 0.7em;
    list-style-type: none;
    border-style: solid;
    border-width: 0.12em;
    border-color: #FAD000;

}

.mainDiv img {
    height: calc(2 * (1vw + 1vh - 1vmin));
    width: calc(2 * (1vw + 1vh - 1vmin));
    min-height: 15px;
    min-width: 15px;
    margin: 0;
    cursor: pointer;
}
