:root {
    --squareMargin: calc(0.5 * (1vw + 1vh - 1vmin)) calc(0.275 * (1vw + 1vh - 1vmin)) calc(0.5 * (1vw + 1vh - 1vmin)) calc(0.275 * (1vw + 1vh - 1vmin));
    --squareSide: calc(6 * (1vw + 1vh - 1vmin));
}


.boardMainDiv {
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
}

.squaresColumn {
    display: inline-block;
}

.square {
    margin: var(--squareMargin);
    height: var(--squareSide);
    width: var(--squareSide);
    border-radius: calc(0.5 * (1vw + 1vh - 1vmin));
}

.rosetta {
    background-color: rgba(232, 18, 18, 0.6) !important;
    height: var(--squareSide);
    width: var(--squareSide);
    border-radius: calc(0.5 * (1vw + 1vh - 1vmin));
}

.rollButton {
    top: 50%;
    transform: translate(0%,-50%);
    left: 5%;
    background-color: #0265CB;
    color: #FAD000;
    font-size: calc(3 * (1vw + 1vh - 1vmin));
    height: calc(2.5 * var(--squareSide));
    width: calc(2.5 * var(--squareSide));
    padding-left: calc(0.05 * var(--squareSide));
    padding-top: calc(0.12 * var(--squareSide));
    position: absolute;
    outline: none;
    border-style: solid;
    border-color: #FAD000;
    border-width: 0.1em;
}

.rollButton h1 {
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    font-size: calc(5 * (1vw + 1vh - 1vmin)) !important;
    position: absolute;
}

@media (max-width: 800px) {
    .rollButton {
        top: 90%;
    }
}

.pieceHolder {
    bottom: calc(50% - 2* (1.5 * var(--squareSide) + calc(0.5 * (1vw + 1vh - 1vmin))));
    left: 5%;
    height: auto;
    width: auto;
    position: absolute;
}

.oppPieceHolder {
    top: calc(50% - 2* (1.5 * var(--squareSide) + calc(0.5 * (1vw + 1vh - 1vmin))));
    right: 5%;
    height: auto;
    width: auto;
    direction: rtl;
    position: absolute;
}

.piece {
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-right: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    display: inline-block;
}

.moveablePiece {
    box-shadow: 0 0 calc(1.5 * (1vw + 1vh - 1vmin)) calc(0.35 * (1vw + 1vh - 1vmin)) white;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-right: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    display: inline-block;
    cursor: pointer;
}


.oppPiece {
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-right: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    display: inline-block;
}

.squarePiece {
    position: absolute;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
}

.moveableSquarePiece {
    position: absolute;
    box-shadow: 0 0 calc(1.5 * (1vw + 1vh - 1vmin)) calc(0.35 * (1vw + 1vh - 1vmin)) white;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    cursor: pointer;
}

.finishSquarePiece {
    position: absolute;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    cursor: pointer;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 calc(1vw + 1vh - 1vmin) calc(0.5 * (1vw + 1vh - 1vmin)) rgba(255,255,255,0.5);
    }
    50% {
        box-shadow: 0 0 calc(1vw + 1vh - 1vmin) calc(0.5 * (1vw + 1vh - 1vmin)) rgba(255,255,255,1);
    }
    100% {
        box-shadow: 0 0 calc(1vw + 1vh - 1vmin) calc(0.5 * (1vw + 1vh - 1vmin)) rgba(255,255,255,0.5);
    }
}

.squareOpponentPiece {
    position: absolute;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
}

.moveHighlighter {
    position: absolute;
    background-color: none;
    border: solid;
    border-color: #FAD000;
    border-width: 0.3em;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
}

.displayNumber {
    margin: 0 !important;
    position: relative !important;
    transform: translate(0%, 100%) !important;
    top: 0% !important;
    right: 0% !important;
    color: white !important;
    text-shadow: 0 0 calc(0.5 * (1vw + 1vh - 1vmin)) black;
    font-size: calc(3px + 2.5 * (1vw + 1vh - 1vmin)) !important;
}
