:root {
    --squareMargin: calc(0.5 * (1vw + 1vh - 1vmin)) calc(0.275 * (1vw + 1vh - 1vmin)) calc(0.5 * (1vw + 1vh - 1vmin)) calc(0.275 * (1vw + 1vh - 1vmin));
    --squareSide: calc(6 * (1vw + 1vh - 1vmin));
}


.boardMainDiv {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: left;
    top: calc(50% - 1.5 * var(--squareSide) - calc(0.5 * (1vw + 1vh - 1vmin)));
    position: absolute;
}

.squaresColumn {
    display: inline-block;
}

.squareNormal {
    margin: var(--squareMargin);
    height: var(--squareSide);
    width: var(--squareSide);
    background-color: white;
}

.squareBlank {
    margin: var(--squareMargin);
    height: var(--squareSide);
    width: var(--squareSide);
}

.squareRosetta {
    margin: var(--squareMargin);
    height: var(--squareSide);
    width: var(--squareSide);
    background-color: red;
}

.rollButton {
    top: 50%;
    transform: translate(0%,-50%);
    left: 5%;
    font-size: calc(2.5 * (1vw + 1vh - 1vmin));
    border-radius: calc(2.5 * (1vw + 1vh - 1vmin));
    height: calc(2 * var(--squareSide));
    width: calc(2 * var(--squareSide));
    position: absolute;
    outline: none;
}

@media (max-width: 800px) {
    .rollButton {
        top: 90%;
    }
}

.pieceHolder {
    bottom: calc(50% - 2* (1.5 * var(--squareSide) + calc(0.5 * (1vw + 1vh - 1vmin))));
    left: 5%;
    height: auto;
    width: auto;
    position: absolute;
}

.oppPieceHolder {
    top: calc(50% - 2* (1.5 * var(--squareSide) + calc(0.5 * (1vw + 1vh - 1vmin))));
    right: 5%;
    height: auto;
    width: auto;
    direction: rtl;
    position: absolute;
}

.piece {
    background-color: #639af2;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-right: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    display: inline-block;
}

.unmoveablePiece {
    background-color: #639af2;
    opacity: 0.6;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-right: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    display: inline-block;
}


.oppPiece {
    background-color: #a8a6a6;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-right: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    display: inline-block;
}

.squarePiece {
    position: absolute;
    background-color: #639af2;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
}

.unmoveableSquarePiece {
    position: absolute;
    background-color: #639af2;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    opacity: 0.6;
}

.squareOpponentPiece {
    position: absolute;
    background-color: #a8a6a6;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
}

.moveHighlighter {
    position: absolute;
    background-color: none;
    border: solid;
    border-color: black;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
}

.displayNumber {
    position: relative !important;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
    color: black !important;
}
