.row {
    display: block;
}

.squareBlink0 {
    display: inline-block;
    height: calc(6 * (1vw + 1vh - 1vmin));
    width: calc(6 * (1vw + 1vh - 1vmin));
    margin-right: calc(1 * (1vw + 1vh - 1vmin));
    animation: blink 300ms linear 0.1s 4 alternate;
}

.squareBlink1 {
    display: inline-block;
    height: calc(6 * (1vw + 1vh - 1vmin));
    width: calc(6 * (1vw + 1vh - 1vmin));
    margin-right: calc(1 * (1vw + 1vh - 1vmin));
    animation: blink 300ms linear 0.2s 6 alternate;
}

.squareBlink2 {
    display: inline-block;
    height: calc(6 * (1vw + 1vh - 1vmin));
    width: calc(6 * (1vw + 1vh - 1vmin));
    margin-right: calc(1 * (1vw + 1vh - 1vmin));
    animation: blink 300ms linear 0.3s 8 alternate;
}

.squareBlink3 {
    display: inline-block;
    height: calc(6 * (1vw + 1vh - 1vmin));
    width: calc(6 * (1vw + 1vh - 1vmin));
    margin-right: calc(1 * (1vw + 1vh - 1vmin));
    animation: blink 300ms linear 0.4s 10 alternate;
}

@keyframes blink {
    from { background-color:green; }
    to { background-color:red; }
};
