.container {
    padding: calc(0.5 * (1vw + 1vh - 1vmin));
    margin: 0;
    position: absolute;
    top: 58.5%;
    left: 50%;
    width: 90%;
    height: 68%;
    transform: translate(-50%, -50%);
    background-color: #FAD000;
}

.rulesWindow {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 0.12em;
}

.rulesWindow button {
    color: black;
    outline: none;
    background: none;
    border: none;
    font-size: calc(18px + 2 * (1vw + 1vh - 1vmin));
}

.pageHolder {
    position: relative;
    margin: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 85%;
    max-height: 85%;
}

.exit {
    position: relative;
    float: right;
    margin-top: calc(0.5 * (1vw + 1vh - 1vmin));
    margin-right: calc(1.5 * (1vw + 1vh - 1vmin));
}

.prev {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: calc(0.5 * (1vw + 1vh - 1vmin));
    margin-left: calc(1.5 * (1vw + 1vh - 1vmin));
    font-weight: bold;
}

.next {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: calc(0.5 * (1vw + 1vh - 1vmin));
    margin-right: calc(1.5 * (1vw + 1vh - 1vmin));
    font-weight: bold;
}

.page0Img {
    position: relative;
    margin: 0;
    transform: translate(-50%, 0%);
    left: 50%;
    width: calc(38.5 * (1vw + 1vh - 1vmin));
    height: calc(14 * (1vw + 1vh - 1vmin));
}

.page1Img {
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    width: calc(38.4 * (1vw + 1vh - 1vmin));
    height: calc(8 * (1vw + 1vh - 1vmin)); 
    margin-top: calc(1.5 * (1vw + 1vh - 1vmin));
}

.page3Img {
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    width: calc(19.4 * (1vw + 1vh - 1vmin));
    height: calc(10 * (1vw + 1vh - 1vmin));
    margin-top: calc(2 * (1vw + 1vh - 1vmin));
}

.page0Text {
    position: relative;
    transform: translate(-50%, 0%);
    top: calc(3 * (1vw + 1vh - 1vmin));
    left: 50%;
    color: black;
    font-size: calc(1px + 2 * (1vw + 1vh - 1vmin));
    margin: 0;
}

.pageText {
    position: relative;
    margin: 0;
    top: 0;
    transform: translate(-50%, 0%);
    left: 50%;
    color: black;
    font-size: calc(2 * (1vw + 1vh - 1vmin));
}
