.tabPanelSort {
    display: inline-block;
    width: 50%;
    margin-top: calc(0.5 * (1vw + 1vh - 1vmin));
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.tabPanelSort label {
    cursor: pointer;
}

.tabPanelSort img {
    margin-left: calc(1.5 * (1vw + 1vh - 1vmin));
    height: calc(2 * (1vw + 1vh - 1vmin)) !important;
    width: calc(2 * (1vw + 1vh - 1vmin)) !important;
    min-height: 22.5px;
    min-width: 22.5px;
}

.tabPanelFilter {
    padding-right: calc(1.5 * (1vw + 1vh - 1vmin));
    display: inline-block;
    width: 50%;
    text-align: right;
    margin-top: calc(0.5 * (1vw + 1vh - 1vmin));
}

.tabPanelFilter label {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.tabPanelFilter label:hover {
    cursor: pointer;
}

.container {
    position: absolute;
    top: 58.5%;
    left: 50%;
    margin: 0;
    width: 90%;
    height: 68%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.6);
}

.container button {
    padding: 0;
    height: calc(3.5 * (1vw + 1vh - 1vmin));
    width: calc(8 * (1vw + 1vh - 1vmin));
    min-height: 35px;
    min-width: 80px;
    outline: none;
    background-color: #0265CB;
    border-style: none;
    color: white;
    font-size: calc(10px + 0.5 * (1vw + 1vh - 1vmin));
    font-weight: bold;
    text-align: center;
}

.tabList {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10%;
    font-family: 'Roboto Slab', serif;
    line-height: 0;
}

.tab {
    display: inline-block;
    background-color: #ffe562;
    height: 100%;
    width: 50%;
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 0px;
}

@media (min-width: 800px) {
    .tab {
        background-color: white;
        border-left: solid 0.12em white;
        border-top: solid 0.12em white;
        letter-spacing: 2.5px;
        word-spacing: 5px;
    }
}

.tab h1 {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    margin: 0;
    color: black;
    font-weight: thin;
    font-size: calc(12px + 0.3  * (1vw + 1vh - 1vmin));
    cursor: pointer;
}

@media (min-width: 800px) {
    .tab h1 {
        cursor: auto;
    }
}

.tab div {
    height: 100%;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

.tabPanel {
    display: inline-block;
    background-color: white;
    height: 90%;
    width: 100%;
    overflow-y : scroll;
}

@media (min-width: 800px) {
    .tabPanel {
        width: 50%;
        border: solid 0.12em #FAD000;
    }
}

.gameTabPanel {
    display: inline-block;
    background-color: white;
    overflow-y : auto;
    text-align: center;
}

@media (min-width: 800px) {
    .gameTabPanel {
        height: 90%;
        width: 50%;
        border-top-style: solid;
        border-bottom-style: solid;
        border-right-style: solid;
        border: solid 0.12em #FAD000;
    }
}

.gameTabPanel h1 {
    color: black;
    font-size: calc(5px + 1.5 * (1vw + 1vh - 1vmin));
}

.selectedTab {
    background-color: white;
}
