.powerUpDiv {
    position: absolute;
    top: calc(28% - calc(2 * (1vw + 1vh - 1vmin)));
    left: 5%;
    border: solid #FAD000 0.12em;
    font-size: calc(1.5 * (1vw + 1vh - 1vmin));
    margin-top: calc(0.01 * var(--squareSide));
    height: calc(0.92 * var(--squareSide));
    width: calc(0.92 * var(--squareSide));
}

.ghostTurns {
    position: absolute;
    top: calc(28% - calc(2 * (1vw + 1vh - 1vmin)));
    left: calc(5.5% + 0.92 * var(--squareSide));
    height: calc(0.92 * var(--squareSide));
    width: calc(0.92 * var(--squareSide));
}

.ghostTurns img {
    height: calc(0.92 * var(--squareSide));
    width: calc(0.92 * var(--squareSide));
}

.ghostTurns h4 {
    position: absolute;
    padding: 0;
    margin: 0;
    color: black;
    bottom: -5%;
    right: -2%;
    font-size: calc(3.5 * (1vw + 1vh - 1vmin);
}

.powerClickable {
    position: relative;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    background-size: calc(5.4 * (1vw + 1vh - 1vmin)) !important;
    background-repeat: no-repeat !important;
    opacity: 1.0;
    cursor: pointer;
}

.powerUnclickable {
    position: relative;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    background-size: calc(5.4 * (1vw + 1vh - 1vmin)) !important;
    background-repeat: no-repeat !important;
    opacity: 0.6;
}


.infoImg {
    position: absolute;
    top: 0%;
    right: 0%;
    height: calc(0.25 * var(--squareSide));
    width: calc(0.25 * var(--squareSide));
    cursor: help;
}

.infoDropDown {
    position: relative;
    top: calc(-3.5 * (1vw + 1vh - 1vmin));
    left: calc(3.5 * (1vw + 1vh - 1vmin));
    background-color: rgba(0,0,0, 0.75);
    color: #FAD000;
    z-index: 2;
    width: calc(24.5 * (1vw + 1vh - 1vmin));
    min-width: 245px;
    padding: 0.1em;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.6);
}

.powerUpInfo {
    display: block;
    text-align: left;
}

.powerUpInfo img {
    width: calc(3 * (1vw + 1vh - 1vmin));
    height: calc(3 * (1vw + 1vh - 1vmin));
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    vertical-align: top;
}

.powerUpInfo p {
    display: inline-block;
    min-width: 210px;
    width: calc(21 * (1vw + 1vh - 1vmin));
    font-size: calc(7px + 0.5 * (1vw + 1vh - 1vmin));
}
