.powerUpDiv {
    position: absolute;
    top: calc(30% - calc(2 * (1vw + 1vh - 1vmin)));
    left: 5%;
    font-size: calc(1.5 * (1vw + 1vh - 1vmin));
    border: solid 0.12em #FAD000;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    background-size: calc(5.4 * (1vw + 1vh - 1vmin)) !important;
}
