.gameMain {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0265CB;
}

.gameMain h1 {
    color: #FAD000;
    position: absolute;
    white-space: nowrap;
    top: calc(40px + 1.5 * (1vw + 1vh - 1vmin));
    left: 50%;
    margin: 0;
    transform: translate(-50%, 0%);
    font-size: calc(6px + 2 * (1vw + 1vh - 1vmin));
    text-align: center;
}

.gameMain ul {
    padding-right: 0.9em;
    padding-left: 0.9em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    color: #FAD000;
    position: absolute;
    font-size: calc(1.5 * (1vw + 1vh - 1vmin));
    margin-top : 0.7em;
    margin-left: 0.7em;
    list-style-type: none;
    border-style: solid;
    border-width: 0.12em;
    border-color: #FAD000;
}

.gameMain ul p {
    margin: 0;
    display: inline-block;
}

.notificationDiv {
    color: white;
    position: absolute;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0,0,0,0.75) !important;
    font-size: calc(2.5 * (1vw + 1vh - 1vmin));
}

.notificationDiv p {
    margin: 0;
}

.notificationDiv h1 {
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    font-size: calc(5 * (1vw + 1vh - 1vmin));
    margin: 0 !important;
    color: #FAD000;
    position: absolute;
}

.powerNotificationDiv {
    color: white;
    position: absolute;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0,0,0,0.75) !important;
    font-size: calc(2.5 * (1vw + 1vh - 1vmin));
}

.powerNotificationDiv p {
    margin: 0;
    display: inline-block;
}

.powerNotificationDiv div {
    display: inline-block;
    vertical-align: middle;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    background-size: calc(5.4 * (1vw + 1vh - 1vmin)) !important;
    background-repeat: no-repeat !important;
}

@media (max-width: 800px) {
    .notificationDiv {
        top: 45%;
    }
    .powerNotificationDiv {
        top: 45%;
    }
}

.turnNotif {
    color: #FAD000;
}

.forfeit {
    padding-right: 0.9em;
    padding-left: 0.9em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    float: right;
    border-style: solid;
    border-color: #e81212;
    border-width: 0.1em;
    color: #e81212;
    background-color: #0265CB;
    outline: none;
    font-size: calc(2 * (1vw + 1vh - 1vmin));
    box-shadow: calc(0.35 * (1vw + 1vh - 1vmin)) calc(0.35 * (1vw + 1vh - 1vmin)) calc(0.2 * (1vw + 1vh - 1vmin)) 0 black;
}

.forfeit:active {
    box-shadow: none;
    transform: translate(calc(0.35 * (1vw + 1vh - 1vmin)), calc(0.35 * (1vw + 1vh - 1vmin)));
}

.rules {
    padding-right: 0.9em;
    padding-left: 0.9em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    float: right;
    border-style: solid;
    border-color: #FAD000;
    border-width: 0.1em;
    color: #FAD000;
    background-color: #0265CB;
    outline: none;
    font-size: calc(2 * (1vw + 1vh - 1vmin));
    box-shadow: calc(0.35 * (1vw + 1vh - 1vmin)) calc(0.35 * (1vw + 1vh - 1vmin)) calc(0.2 * (1vw + 1vh - 1vmin)) 0 black;
}

.rules:active {
    box-shadow: none;
    transform: translate(calc(0.35 * (1vw + 1vh - 1vmin)), calc(0.35 * (1vw + 1vh - 1vmin)));
}

.gameOverMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin: 0;
    width: calc(47 * (1vw + 1vh - 1vmin));
    background-color: white;
    border-style: solid;
    border-color: #FAD000;
    border-width: calc(0.5 * (1vw + 1vh - 1vmin));
    transform: translate(-50%, -50%);
    padding: calc(1.0 * (1vw + 1vh - 1vmin));
    text-align: center;
}

.gameOverMenu p {
    display: block !important;
    color: black;
    font-size: calc(5px + 2.5 * (1vw + 1vh - 1vmin));
    margin-top: calc(0.5 * (1vw + 1vh - 1vmin));
    white-space: normal !important;
}

.gameOverMenu button {
    display: block;
    margin: 0 auto calc(0.4 * (1vw + 1vh - 1vmin)) auto;
    padding: 0 0.9em 0 0.9em;
    height: calc(3.5 * (1vw + 1vh - 1vmin));
    min-height: 35px;
    border-style: none;
    color: white;
    background-color: #0265CB;
    outline: none;
    font-size: calc(10px + 0.5 * (1vw + 1vh - 1vmin));
}

.buttonsEnd {
    text-align: center;
}

.buttonsEnd button {
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
    font-size: calc(2 * (1vw + 1vh - 1vmin));
}

.notificationMenu {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    margin: 0;
    width: calc(40 * (1vw + 1vh - 1vmin));
    height: calc(15 * (1vw + 1vh - 1vmin));
    background-color: white;
    border-style: solid;
    border-color: #FAD000;
    border-width: calc(0.5 * (1vw + 1vh - 1vmin));
    transform: translate(-50%, -50%);
}

.notificationMenu h1 {
    color: black;
    top: 0;
    margin-top: calc(1.5 * (1vw + 1vh - 1vmin));
    font-size: calc(5px + 2.5 * (1vw + 1vh - 1vmin));
    text-align: center;
    white-space: normal !important;
    width: 100%;
}

.notificationMenu button {
    position: absolute;
    display: inline-block;
    padding-right: 0.9em;
    padding-left: 0.9em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-bottom: calc(1.5 * (1vw + 1vh - 1vmin));
    bottom: 0;
    border-style: none;
    color: white;
    background-color: #0265CB;
    outline: none;
    font-size: calc(2 * (1vw + 1vh - 1vmin));
}

.acceptButton {
    padding: 0 !important;
    left: 35%;
    display: inline !important;
    background-color: #03b733 !important;
    height: calc(3.5 * (1vw + 1vh - 1vmin));
    width: calc(3.5 * (1vw + 1vh - 1vmin));
}

.declineButton {
    padding: 0 !important;
    right: 35%;
    display: inline !important;
    background-color: #e81212 !important;
    height: calc(3.5 * (1vw + 1vh - 1vmin));
    width: calc(3.5 * (1vw + 1vh - 1vmin));
}

.spectatorDiv {
    position: absolute;
    margin-top : 4.5em;
    margin-left: 0.7em;
    color: #FAD000;
    font-size: calc(1.5 * (1vw + 1vh - 1vmin));
}
