:root {
    --boxWidth: calc(23.5 * (1vw + 1vh - 1vmin));
    --messageWidth : calc(22 * (1vw + 1vh - 1vmin));
    --messageLRMargins: calc(1.5 * (1vw + 1vh - 1vmin));
    --messageLRPaddings: calc(0.5 * (1vw + 1vh - 1vmin));
    --bordersWidth: 2px;
}

.closedChat {
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: calc(0.075 * (1vw + 1vh - 1vmin));
    right: 0.05%;
    background: #cccccc;
    color: black;
    /*Border*/
    border-color: black;
    border: solid;
    border-bottom: none;
    border-width: var(--bordersWidth);
    font-size: calc(12px + 0.4 * (1vw + 1vh - 1vmin));
    font-weight: 100;
    /*Dimensions*/
    height: calc(3 * (1vw + 1vh - 1vmin));
    width: var(--boxWidth);
    min-height: 20px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    letter-spacing: 2.5px;
    word-spacing: 5px;
    font-family: 'Roboto Slab', serif;
}

.closedChat:hover {
    cursor: pointer;
}

.closedChat img {
    margin-left: calc(1.0 * (1vw + 1vh - 1vmin));
    /*Dimensions*/
    height: calc(1.5 * (1vw + 1vh - 1vmin));
    width: calc(1.5 * (1vw + 1vh - 1vmin));
    min-height: 15px;
    min-width: 15px;
}

.closedChat p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: calc(1.0 * (1vw + 1vh - 1vmin));
    margin-left: calc(1.0 * (1vw + 1vh - 1vmin));
}

.notifyMain {
    animation: blinker 2s linear;
}

.chatNotifier {
    display: inline-block;
    color: white;
    margin-left: none !important;
    margin-right: none !important;
}

.chatNotifier p {
    vertical-align: middle;
    text-align: center;
    width: 70%;
    font-size: calc(1.3 * (1vw + 1vh - 1vmin));
    background-color: #0265CB;
    border-radius: 50%;
}

@keyframes blinker {
    50% { opacity: 0; }
}


.openChat {
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.4);
    position: fixed;
    bottom: calc(0.075 * (1vw + 1vh - 1vmin));
    right: 0.05%;
    background: rgb(242,242,242);

    color: black;
    font-size: calc(1.0 * (1vw + 1vh - 1vmin));
    /*Border*/
    border-color: black;
    border: solid;
    border-width: var(--bordersWidth);
    border-bottom: none;
    vertical-align: middle;
    /*Dimensions*/
    min-width: 200px;
    min-height: 250px;
    height: calc(25 * (1vw + 1vh - 1vmin));
    width: var(--boxWidth);
}

.openChat p {
    letter-spacing: 2.5px;
    word-spacing: 5px;
    font-family: 'Roboto Slab', serif;
}

.openChatTop {
    top: 0%;
    background: #cccccc;
    font-size: calc(12px + 0.4 * (1vw + 1vh - 1vmin));
    /*Dimensions*/
    height: calc(3 * (1vw + 1vh - 1vmin));
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.openChatTop:hover {
    cursor: pointer;
}

.openChatTop img {
    margin-left: calc(1.0 * (1vw + 1vh - 1vmin));
    vertical-align: middle;
    /*Dimensions*/
    height: calc(1.5 * (1vw + 1vh - 1vmin));
    width: calc(1.5 * (1vw + 1vh - 1vmin));
    min-height: 15px;
    min-width: 15px;
}

.openChatTop p {
    display: inline-block;
    margin-left: calc(1.0 * (1vw + 1vh - 1vmin));
    margin-bottom: 0;
}

.openChatBottom {
    font-size: calc(10px + 0.5 * (1vw + 1vh - 1vmin));
    bottom: 0%;
    background: #cccccc;
    /*Border*/
    border-color: black;
    border-top: solid;
    border-width: var(--bordersWidth);
    /*Dimensions*/
    height: calc(4 * (1vw + 1vh - 1vmin));
    min-height: 30px;
    /*lineheight = height - inputheight/2 for vertically aligning input box*/
    line-height: calc(3.5 * (1vw + 1vh - 1vmin));
    vertical-align: top !important;
}

.inputArea {
    display: inline-block;
    vertical-align: middle !important;
    background-color: none;
    /*dimensions*/
    width: calc(19 * (1vw + 1vh - 1vmin));
    height: calc(2.2 * (1vw + 1vh - 1vmin)) !important;
    min-height: 20px;
    min-width: 160px;
    margin-left: calc(1px + 1 * (1vw + 1vh - 1vmin));
    /*border*/
    overflow: hidden;
}

.inputArea input{
    vertical-align: top !important;
    display: inline-block;
    height: calc(2.0 * (1vw + 1vh - 1vmin)) !important;
    width: calc(16.5 * (1vw + 1vh - 1vmin));
    min-width: 140px;
    min-height: 16px;
    margin: 0 !important;
    margin-left: calc(0.1 * (1vw + 1vh - 1vmin)) !important;
    margin-top: calc(0.1 * (1vw + 1vh - 1vmin)) !important;
    background-color: #cccccc;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.inputArea img {
    vertical-align: top !important;
    margin-left: 0 !important;
    background: none !important;
    /*Dimensions*/
    height: calc(2.0 * (1vw + 1vh - 1vmin));
    width: calc(2.0 * (1vw + 1vh - 1vmin));
    min-height: 15px !important;
    min-width: 15px !important;
}

.openChatBottom img {
    vertical-align: middle;
    margin-left: calc(1.0 * (1vw + 1vh - 1vmin));
    background: none;
    /*Dimensions*/
    height: calc(2.0 * (1vw + 1vh - 1vmin));
    width: calc(2.0 * (1vw + 1vh - 1vmin));
    min-height: 15px;
    min-width: 15px;
}
.openChatBottom img:hover {
    cursor: pointer;
}


.messages {
    overflow-y: auto;
    overflow-x: hidden;
    /*Dimensions*/
    height: calc(18 * (1vw + 1vh - 1vmin));
    min-height: 200px;
    word-wrap: break-word;
}

.playerMesssge {
    margin-top: calc(0.35 * (1vw + 1vh - 1vmin));
    margin-bottom:calc(0.35 * (1vw + 1vh - 1vmin));
    background-color: white;
    margin-left: var(--messageLRMargins);
    margin-right: var(--messageLRMargins);
    padding-left: var(--messageLRPaddings);
    padding-right: var(--messageLRPaddings);
    border: solid;
    border-color: black;
    border-width: 1px;
}

.opponentMessage {
    display: inline-block;
    background-color: white;
    margin-left: calc(0.3 * (1vw + 1vh - 1vmin));
    padding-right: var(--messageLRPaddings);
    border: solid;
    border-color: black;
    border-width: 1px;
    width: calc(17.75 * (1vw + 1vh - 1vmin));
    min-width: 136px;
    padding-left: var(--messageLRPaddings);
}

.opponent {
    word-wrap: break-word;
    margin-top: calc(0.35 * (1vw + 1vh - 1vmin));
    margin-bottom:calc(0.35 * (1vw + 1vh - 1vmin));
}

.avatar {
    display: inline-block;
    vertical-align: top;
    height: calc(2.5 * (1vw + 1vh - 1vmin));
    width: calc(2.5  * (1vw + 1vh - 1vmin));
    min-height: 25px;
    min-width: 25px;
    background-color: white;
    margin-left: var(--messageLRMargins);
    /*borders*/
    border-width: 0.5px !important;
    border-color: black;
    border-style: solid;
}

.playerMesssge h3 {
    margin-top: calc(calc(12px + 0.5 * (1vw + 1vh - 1vmin))/2);
    font-size: calc(12px + 0.5 * (1vw + 1vh - 1vmin));
    color: black;
}

/*opponent name*/
.opponentMessage h4 {
    font-size: calc(12px + 0.35 * (1vw + 1vh - 1vmin));
    margin-bottom: 0;
    font-style: italic;
    font-weight: bold;
    color: #0265CB;
}

/*opponent msg*/
.opponentMessage h5 {
    font-size: calc(12px + 0.5 * (1vw + 1vh - 1vmin));
    color: black;
}
