:root {
    --squareMargin: calc(0.5 * (1vw + 1vh - 1vmin)) calc(0.275 * (1vw + 1vh - 1vmin)) calc(0.5 * (1vw + 1vh - 1vmin)) calc(0.275 * (1vw + 1vh - 1vmin));
    --squareSide: calc(6 * (1vw + 1vh - 1vmin));
}

.game {
    padding: calc(1.5 * (1vw + 1vh - 1vmin));
    margin-top: calc(1.5 * (1vw + 1vh - 1vmin));
    margin-left: calc(1.5 * (1vw + 1vh - 1vmin));
    margin-right: calc(1.5 * (1vw + 1vh - 1vmin));
    border-style: solid;
    border-color: black;
    border-width: 0.12em;
    background-color: #FFE562;
}

.game h1 {
    margin: 0;
    margin-bottom: calc(1.5 * (1vw + 1vh - 1vmin));
    color: black;
    display: block;
    font-size: calc(10px + 1.5 * (1vw + 1vh - 1vmin));
}

.game h2 {
    margin: 0;
    color: #a8a6a6;
    font-size: calc(3px + 2 * (1vw + 1vh - 1vmin));
}


.game img {
    height: calc(3 * (1vw + 1vh - 1vmin));
    width: calc(3 * (1vw + 1vh - 1vmin));
    float: right;
    cursor: crosshair;
    margin-top: calc(-1.6 * (1vw + 1vh - 1vmin));
}

.spectatorDiv {
    text-align: center !important;
}

.minimapDiv {
    position: fixed !important;
    left: 0% !important;
    top: 0% !important;
    background-color: rgba(0,0,0,0.8);
    width: calc(54 * (1vw + 1vh - 1vmin));
    max-height: 100%;
}

.boardMainDiv {
    width: 100%;
}

.squaresColumn {
    display: inline-block;
}

.oppPieceHolder {
    margin-right: calc(1 * (1vw + 1vh - 1vmin));
    text-align: right;
    display: block;
}

.oppPieceHolder p {
    text-align: right;
    font-size: calc(2 * (1vw + 1vh - 1vmin));
    color: #FAD000;
    margin-right: calc(1 * (1vw + 1vh - 1vmin));
}

.oppPiece {
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    display: inline-block;
    margin-left: calc(0.5 * (1vw + 1vh - 1vmin));
}

.pieceHolder {
    margin-left: calc(1 * (1vw + 1vh - 1vmin));
    text-align: left;
    display: block;
}

.pieceHolder p {
    text-align: left;
    font-size: calc(2 * (1vw + 1vh - 1vmin));
    color: #FAD000;
    margin-left: calc(1 * (1vw + 1vh - 1vmin));
}


.piece {
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    display: inline-block;
    margin-right: calc(0.5 * (1vw + 1vh - 1vmin));
}

.squarePiece {
    position: absolute;
    border-radius: 50%;
    height: calc(0.9 * var(--squareSide));
    width: calc(0.9 * var(--squareSide));
    margin-top: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
    margin-left: calc((var(--squareSide) - 0.9 * var(--squareSide)) / 2);
}
