.lobbyMain {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e4282;
}

.lobbyMain h1 {
    color: white;
    font-size: calc(3 * (1vw + 1vh - 1vmin));
    margin-left: 0.5em;
}

.readyOptions button {
    position: absolute;
    top: calc(60px + 4 * (1vw + 1vh - 1vmin));
    left: 50%;
    margin-right: -50%;
    margin: 0;
    transform: translate(-50%, -50%);
    height: calc(10 * (1vw + 1vh - 1vmin));
    width: calc(10 * (1vw + 1vh - 1vmin));
    border-radius: 50%;
    background-color: rgba(9, 183, 73, 1.0);
    border-color: black;
    border-width: 0.2em;
    font-size: calc(2 * (1vw + 1vh - 1vmin));
    color: white;
    outline: none;
}

.unready {
    background-color: rgba(9, 183, 73, 0.5) !important;
}

.rules {
    position: absolute;
    top: 15%;
    right: 12.5%;
    border-color: black;
    color: white;
    background-color: #4286f4;
    outline: none;
    font-size: calc(2 * (1vw + 1vh - 1vmin));
    width: 4em;
    height: 2em;
    border-radius: calc(1 * (1vw + 1vh - 1vmin));
}

.container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    position: absolute;
    top: 60%;
    left: 50%;
    margin: 0;
    width: 75%;
    height: 70%;
    transform: translate(-50%, -50%);
}

.userList {
    flex-basis: 520px;
    flex-grow: 1;
    flex-shrink: 1;
    height: 60%;
    background-color: rgba(23, 114, 3, 0.15);
    overflow-y : auto;
    border-style: solid;
    border-color: black;
    border-width: 0.12em;
    border-top-left-radius: calc(2.5 * (1vw + 1vh - 1vmin));
}

@media (max-width: 1157px) {
    .userList {
        height: 33.33%;
        border-top-right-radius: calc(2.5 * (1vw + 1vh - 1vmin));
    }
}

.userList h1 {
    text-align: center;
    font-size: calc(12px + 1.75 * (1vw + 1vh - 1vmin));
}

.gameList {
    flex-grow: 1;
    flex-shrink: 1;
    height: 60%;
    background-color: rgba(23, 114, 3, 0.15);
    overflow-y : auto;
    border-style: solid;
    border-color: black;
    border-left-style: none;
    border-width: 0.12em;
    border-top-right-radius: calc(2.5 * (1vw + 1vh - 1vmin));
}

@media (max-width: 1157px) {
    .gameList {
        height: 33.33%;
        border-top-style: none;
        border-left-style: solid;
        border-top-right-radius: 0;
    }
}

.gameList h1 {
    text-align: center;
    margin-bottom: 1em;
    font-size: calc(12px + 1.75 * (1vw + 1vh - 1vmin));
}

.gameList h2 {
    color: white;
    font-size: calc(5px + 1.5 * (1vw + 1vh - 1vmin));
    margin-left: 1em;
    margin-top: 0.5em;
}


.user {
    margin-top: 2.0em;
    margin-bottom: 2.0em;
    border-bottom: dashed;
    display: block;
}

.user h1 {
    display: inline;
    font-size: calc(5px + 1.5 * (1vw + 1vh - 1vmin));
}

.challengeButton {
    float: right;
    margin-left: calc(1 * (1vw + 1vh - 1vmin));
    margin-right: calc(1 * (1vw + 1vh - 1vmin));
}

.challengeButton button {
    outline: none;
    background-color: #03b733;
    border-color: black;
    height: calc(2 * (1vw + 1vh - 1vmin));
    width: calc(6 * (1vw + 1vh - 1vmin));
    min-height: 20px;
    min-width: 70px;
    border-radius: 10em;
    font-size: calc(8px + 0.5 * (1vw + 1vh - 1vmin));
    font-weight: bold;
    text-align: center;
}

.inactiveChallenge {
    opacity: 0.5;
    cursor: default;
}
