.lobbyMain {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #0e4282;
}

.lobbyMain h1 {
  color: white;
  margin-left: 0.5em;
  font-family: Bookman;
}

.readyButton {
  position: absolute;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  margin: 0;
  transform: translate(-50%, -50%);
  height: 7.5em;
  width: 7.5em;
  border-radius: 50%;
  background-color: #3fd11f;
  border-color: black;
  border-width: 0.2em;
  font-size: 2em;
  color: white;
  font-family: Bookman;
}

.userList {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  margin: 0;
  width: 50%;
  height: 60%;
  transform: translate(-50%, 0%);
  background-color: rgba(23, 114, 3, 0.5);
  overflow-y: scroll;
}

.user {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  display: block;
}