.chatMain {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 50%;
    background-color: rgba(23, 114, 3, 0.15);
    border-style: solid;
    border-color: black;
    border-top: none;
    border-width: 0.12em;
    border-bottom-left-radius: calc(2.5 * (1vw + 1vh - 1vmin));
    border-bottom-right-radius: calc(2.5 * (1vw + 1vh - 1vmin));
}

@media (max-width: 1157px) {
    .chatMain {
        height: 33.33%;
    }
}

.chatMain input {
    width: 100%;
    bottom: 0%;
    height: 15%;
    font-size: calc(12px + 0.5 * (1vw + 1vh - 1vmin));
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 2em;
    border: none;
    outline: none;
    color: white;
    border-bottom-left-radius: calc(2.5 * (1vw + 1vh - 1vmin));
    border-bottom-right-radius: calc(2.5 * (1vw + 1vh - 1vmin));
}

.sentMessages {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 85%;
    overflow-y : auto;
}

.messagesDiv {
    padding-top: 0;
    padding-bottom: 0;
    height: calc(2.5 * (1vw + 1vh - 1vmin));
}

.messagesDiv h1 {
    display: inline-block;
    font-size: calc(12px + 0.5 * (1vw + 1vh - 1vmin));
    padding-left: 0.2em;
    color: green;
}

.messagesDiv h2 {
    display: inline-block;
    font-size: calc(12px + 0.5 * (1vw + 1vh - 1vmin));
    color: white;
}
