.chatMain {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    height: 40%;
    background-color: rgba(23, 114, 3, 0.15);
    border-style: solid;
    border-color: black;
    border-top: none;
    border-width: 0.12em;
    border-bottom-left-radius: calc(2.5 * (1vw + 1vh - 1vmin));
    border-bottom-right-radius: calc(2.5 * (1vw + 1vh - 1vmin));
}

@media (max-width: 1250px) {
    .chatMain {
        height: 33.33%;
    }
}

.chatMain input {
    width: 100%;
    bottom: 0%;
    height: 15%;
    font-size: calc(12px + 0.5 * (1vw + 1vh - 1vmin));
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 2em;
    border: none;
    outline: none;
    color: white;
    border-bottom-left-radius: calc(2.5 * (1vw + 1vh - 1vmin));
    border-bottom-right-radius: calc(2.5 * (1vw + 1vh - 1vmin));
}

.sentMessages {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    height: 85%;
    overflow-y : auto;
}

.messagesDiv {
    padding-top: 0;
    padding-bottom: 0;
    height: calc(2.5 * (1vw + 1vh - 1vmin));
}

.messagesDiv h1 {
    display: inline-block;
    font-size: calc(12px + 0.5 * (1vw + 1vh - 1vmin));
    padding-left: 0.2em;
    color: green;
}

.messagesDiv h2 {
    display: inline-block;
    font-size: calc(12px + 0.5 * (1vw + 1vh - 1vmin));
    color: white;
}





.closedChat {
    position: fixed;
    bottom: 0%;
    right: 0%;
    background: #4286f4;
    height: calc(3 * (1vw + 1vh - 1vmin));
    width: calc(25 * (1vw + 1vh - 1vmin));
    font-size: calc(2.0 * (1vw + 1vh - 1vmin));
    color: black;
}

.closedChat:hover {
    cursor: pointer;
}

.closedChat p {
    margin-left: calc(1.0 * (1vw + 1vh - 1vmin));
}


.openChat {
    position: fixed;
    bottom: 0%;
    right: 0%;
    background: #E3DCD1;
    height: calc(25 * (1vw + 1vh - 1vmin));
    width: calc(25 * (1vw + 1vh - 1vmin));
    font-size: calc(2.0 * (1vw + 1vh - 1vmin));
    color: black;
}

.openChatTop {
    top: 0%;
    background: #4286f4;
}

.openChatTop:hover {
    cursor: pointer;
}
.openChatTop p {
    margin-left: calc(1.0 * (1vw + 1vh - 1vmin));
}

.openChat input {
    position: absolute;
    bottom: 0%;
    width: calc(25 * (1vw + 1vh - 1vmin));
}

.messages {
    overflow-y: auto;
    height: calc(17 * (1vw + 1vh - 1vmin));
    word-wrap: break-word
}

.messages h1 {
    font-size: calc(12px + 0.5 * (1vw + 1vh - 1vmin));
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc(2px + 0.5 * (1vw + 1vh - 1vmin));
    margin-right: calc(2px + 0.5 * (1vw + 1vh - 1vmin));
    color: green;
}

.messages h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc(4px + 1.3 * (1vw + 1vh - 1vmin));
    padding-left: calc(1px + 0.5 * (1vw + 1vh - 1vmin));
    padding-right: calc(1px + 0.5 * (1vw + 1vh - 1vmin));
    background-color: white;
    border-radius: 1em;
    font-size: calc(12px + 0.5 * (1vw + 1vh - 1vmin));
    width: calc(15 * (1vw + 1vh - 1vmin));
    color: black;
}

.messages h3 {
    float: right;
    text-align: right;
    margin-right: calc(4px + 1.3 * (1vw + 1vh - 1vmin));
    padding-right: calc(1px + 0.5 * (1vw + 1vh - 1vmin));
    padding-left: calc(1px + 0.5 * (1vw + 1vh - 1vmin));
    background-color: green;
    border-radius: 1em;
    font-size: calc(12px + 0.5 * (1vw + 1vh - 1vmin));
    width: calc(15 * (1vw + 1vh - 1vmin));
    color: black;
}
